<!DOCTYPE html>
<html ng-app="mpdClient">
  <head>
    <title>MPD Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <%= stylesheet_tag 'mpd-client' %>
    <%= javascript_tag 'mpd-client' %>
  </head>

  <body>
    <main ng-controller="mpd-client">
      <div id="content">
        <ng-include src="'<%= asset_path 'views/library.html' %>'"></ng-include>
        <ng-include src="'<%= asset_path 'views/queue.html' %>'"></ng-include>
      </div>
      <ng-include src="'<%= asset_path 'views/transport.html' %>'"></ng-include>
    </main>
  </body>
</html>
